
body{
	font-family: 'Pontano Sans', sans-serif;

}


small a:link{
	color: #2c3e50;
    font-weight: bold;
}


.thumbnail {

	background-color: #faf7f7;
}
	h3, h4{
font-family: 'Pontano Sans', sans-serif;
}

.navbar-default{
	border-radius:0;
}

.badge-success{
	display:inline-block;
	min-width:10px;
	padding:3px 7px;
	font-size:12px;
	color:#fff;
	background-color:#0f8d44;
	border-radius:10px;
}

.fb-like-box{

	width:100%;
}
.climb_types  {
	font-size: .9em;

}

.datepicker{

	width: 100px;
}

.list-group{
	width: 83%;
}

@media (max-width:768px) {
	.tick_route{
		margin-left: .1em;
   	} 

   .navbar-left{
   		margin-right: .7em;
   	}

   	.climb_type_row .climb_type_date{
   		margin-left: .1em;
   	}

   .date-field {
     margin-top: 0px; 
}
}

@media (min-width:769px) {
.date-field{
    margin-top: -40px;
}
}


.features form{
    float: left!important;
}

.form-gym-view {
    margin-bottom: 10px;
}

#blue-button {
    color: #ffffff;
background-color: #2c3e50;
border-color: #2c3e50;
}

.hidden-label{
    color: #96A4B2;
}

.repeat-label {
     color: #2c3e50;
     font-weight: 100;
}